html, body {
    padding: 0;
    margin: 0;
}
.container-fluid {
    display: flex;
}
.container {
    padding: 6% 10% 0 3%;
}
.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    background-color: #615f5f;
    height: 100vh;
    padding: 0 8% 0 8%;
}
ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}
li {
    margin-block: 10px;
}
.navbar a:hover {
    color: orange;
}
li a {
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}
.navbar-brand {
    text-decoration: none;
    color: white;
    font-size: xxx-large;
    font-weight: bold;
}
td {
    margin: 0;
    padding: 20px;
    border: 1px solid black;
}
.week-navigator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .container-fluid {
        flex-direction: column;
    }
    .navbar {
    }
}